* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    // font-size: 1.1em;
    // background: #f1f1f1;
  }
  
  .container {
    width: 100%;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  /* content */
  .row div {
    // background-color: #EF5350;
    padding: 1px;
    // border: 1px solid white;
    border-radius: 5px;
    // text-align: right;
    // color: white;
    transition: background-color 1s;
    margin-top: 0px;
  }
  
  .row div:nth-child(2n):hover {
    // background-color: #42A5F5;
  }
  
  .row div:nth-child(2n+1):hover {
    // background-color: #66BB6A;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  /* 2/12 */
  .col-2 {
    width: 16.66%;
  }
  
  /* 3/12 */
  .col-3 {
    width: 25%;
  }
  
  /* 4/12 */
  .col-4 {
    width: 33.33%
  }
  
  /* 5/12 */
  .col-5 {
    width: 41.66%;
  }
  
  /* 6/12 */
  .col-6 {
    width: 50%;
  }
  
  /* 7/12 */
  .col-7 {
    width: 58.33%;
  }
  
  /* 8/12 */
  .col-8 {
    width: 66.66%;
  }
  
  /* 9/12 */
  .col-9 {
    width: 75%;
  }
  
  /* 10/12 */
  .col-10 {
    width: 83.33%;
  }
  
  /* 11/12 */
  .col-11 {
    width: 91.66%;
  }
  
  /* 12/12 */
  .col-12 {
    width: 100%;
  }
  
  /* viewport <= 1000px */
  @media screen and (max-width: 1024px) {
    * {
      font-size: 1em;
    }

    .col-md-6 {
      width: 50%;
    }

    .header > h2 {
      font-size: 25px;
    }

  }
  
  /* viewport <= 700px */
  @media screen and (max-width: 700px) {
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }

    .header > h2 {
      font-size: 25px;
    }

    .block > h3 {
      font-size: 20px;;
    }

    .row div {
      padding: 6px;
    }
  } 
  
  // /* viewport <= 500px */
  // @media screen and (max-width: 500px) {
  //   * {
  //     font-size: 0.9em;
  //   }
  // }